<a href="https://colab.research.google.com/github/9M3a1h3d9i9/Machine_Learning_Practice_Master/blob/Develope/proj_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np

# Seed for reproducibility
np.random.seed(42)

# Generating synthetic dataset
n_samples = 1000
data = {
    'longitude': np.random.uniform(-124.35, -114.31, n_samples),
    'latitude': np.random.uniform(32.54, 41.95, n_samples),
    'housing_median_age': np.random.randint(1, 52, n_samples),
    'total_rooms': np.random.randint(2, 10000, n_samples),
    'total_bedrooms': np.random.randint(1, 2000, n_samples),
    'population': np.random.randint(3, 10000, n_samples),
    'households': np.random.randint(1, 3000, n_samples),
    'median_income': np.random.uniform(0.5, 15.0, n_samples),
    'median_house_value': np.random.uniform(15000, 500000, n_samples),
    'ocean_proximity': np.random.choice(['<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'NEAR BAY', 'ISLAND'], n_samples)
}

# Create DataFrame
df = pd.DataFrame(data)

# Introduce some missing values randomly
for col in ['total_bedrooms', 'median_income']:
    df.loc[np.random.choice(df.index, size=50, replace=False), col] = np.nan

print("Synthetic Dataset with Missing Values:")
print(df.head())

Synthetic Dataset with Missing Values:
    longitude   latitude  housing_median_age  total_rooms  total_bedrooms  \
0 -120.589617  34.282101                  28         3798          1118.0
1 -114.804828  37.639288                   7          236            13.0
2 -117.000781  40.754420                  35         9122           973.0
3 -118.339469  39.430236                  28         3609          1858.0
4 -122.783573  40.129740                  14         8045           805.0

   population  households  median_income  median_house_value ocean_proximity
0        6546        1917      11.041769        19872.785812          ISLAND
1        5904        2945      10.547343       109497.638453          ISLAND
2         972         820      14.816843       253295.259477       <1H OCEAN
3        1097        2901       3.764835       475994.227371          INLAND
4        6127        2758      10.103610       201050.384572       <1H OCEAN

In [22]:
import os
import pandas as pd
import numpy as np

# Seed for reproducibility
np.random.seed(42)

# Generating synthetic dataset
n_samples = 1000
data = {
    'longitude': np.random.uniform(-124.35, -114.31, n_samples),
    'latitude': np.random.uniform(32.54, 41.95, n_samples),
    'housing_median_age': np.random.randint(1, 52, n_samples),
    'total_rooms': np.random.randint(2, 10000, n_samples),
    'total_bedrooms': np.random.randint(1, 2000, n_samples),
    'population': np.random.randint(3, 10000, n_samples),
    'households': np.random.randint(1, 3000, n_samples),
    'median_income': np.random.uniform(0.5, 15.0, n_samples),
    'median_house_value': np.random.uniform(15000, 500000, n_samples),
    'ocean_proximity': np.random.choice(['<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'NEAR BAY', 'ISLAND'], n_samples)
}

# Create DataFrame
df = pd.DataFrame(data)

# Introduce some missing values randomly
for col in ['total_bedrooms', 'median_income']:
    df.loc[np.random.choice(df.index, size=50, replace=False), col] = np.nan

# Handle missing values
df['total_bedrooms'].fillna(df['total_bedrooms'].median(), inplace=True)
df['median_income'].fillna(df['median_income'].mean(), inplace=True)

# Identifying and handling outliers using the IQR method
for col in ['housing_median_age', 'total_rooms', 'population']:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Replace outliers with upper/lower bounds
    df[col] = np.where(df[col] < lower_bound, lower_bound, df[col])
    df[col] = np.where(df[col] > upper_bound, upper_bound, df[col])

# Apply One-Hot Encoding for 'ocean_proximity'
df = pd.get_dummies(df, columns=['ocean_proximity'], drop_first=True)

os.makedirs("/mnt/data", exist_ok=True)


# Save to CSV
file_path = "/mnt/data/synthetic_housing_data.csv"
df.to_csv(file_path, index=False)
file_path

<ipython-input-22-c3750509bd64>:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['total_bedrooms'].fillna(df['total_bedrooms'].median(), inplace=True)
<ipython-input-22-c3750509bd64>:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['median_income'].fillna(df['median_income'].mean(), inplace=True)

'/mnt/data/synthetic_housing_data.csv'

In [24]:
# Load synthetic dataset
file_path = "/mnt/data/synthetic_housing_data.csv"
df = pd.read_csv(file_path)

# Display dataset overview
print("Dataset Loaded:")
df.head()

Dataset Loaded:

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-120.589617,34.282101,28.0,3798.0,1118.0,6546.0,1917,11.041769,19872.785812,False,True,False,False
1,-114.804828,37.639288,7.0,236.0,13.0,5904.0,2945,10.547343,109497.638453,False,True,False,False
2,-117.000781,40.754420,35.0,9122.0,973.0,972.0,820,14.816843,253295.259477,False,False,False,False
3,-118.339469,39.430236,28.0,3609.0,1858.0,1097.0,2901,3.764835,475994.227371,True,False,False,False
4,-122.783573,40.129740,14.0,8045.0,805.0,6127.0,2758,10.103610,201050.384572,False,False,False,False